
@font-face {
    font-family: 'Quicksand-Light';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Quicksand/Quicksand-Light.ttf) format('truetype');
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

@font-face {
    font-family: 'Quicksand-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

@font-face {
    font-family: 'Quicksand-Medium';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Quicksand/Quicksand-Medium.ttf) format('truetype');
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Quicksand/Quicksand-SemiBold.ttf) format('truetype');
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

@font-face {
    font-family: 'Quicksand-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/Quicksand/Quicksand-Bold.ttf) format('truetype');
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}
